<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
            <div class="col-sm-6 bg-white mt-3">
                <h5 class="font-weight-bold m-4">いいねしたユーザー</h5>
                <% @favorites.each do |favorite| %>
                    <%= link_to my_page_path(favorite.user.id) do %>
                        <div class="row pt-3 pl-3 d-flex align-items-center border-top">
                            <p><%= image_tag favorite.user.get_profile_image(100,100), class: "user_image" %></p>
                            <p class="pl-3 font-weight-bold"><%= favorite.user.nickname %></p>
                        </div>
                    <% end %>
                <% end %>
                <div class="d-flex justify-content-center">
                    <%= paginate @favorites, theme: 'bootstrap-5' %>
                </div>
            </div>
        <div class="col-sm-3"></div>
    </div>
</div>

