<!-- 全ての会員の投稿一覧表示 -->
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h5 class="font-weight-bold mt-4 ml-4">みんなの投稿</h5>
            <%= render 'public/layouts/post-index', posts: @posts %> 
         </div>
        <div class="col-sm-3"></div>
    </div>
</div>