@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  color:inherit;
  text-decoration: none;
}

.field_with_errors {
  display: contents;
}

li {
    list-style: none;
}

body {
    background-color: #FFCC99;
}

header {
    background-color: #FFFFFF;
    color: #FF9900;
}

footer {
    background-color: #DDDDDD;
}

/* トップページ */
.top-text {
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: "メイリオ";
    line-height: 70px;
}

/* 検索機能 */
.search {
  display: flex;
  width: 50%;
  margin: 10px;
}

.search input[type=text] {
  width: 100%;
  font-size: 16px;
  padding: 0 6px;
  color: #474747;
  border: 2px solid #474747;
  border-radius: 3px 0 0 3px;
  outline: none;
}

.search button[type=submit] {
  padding: 5px;
  font-size: 16px;
  color: #FFF;
  background: #474747;
  border: 2px solid #474747;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

/* colors */
.royalblue input[type=text] {
  border-color: #4169e1;
}

.royalblue button[type=submit] {
  border-color: #4169e1;
  background: #4169e1;
}

/* ログインページ　*/
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.email, .passward {
    background: #f2f2f2;
}

.login-btn {
    background: #28a745;
    color: white;
}

/* 新規登録画面*/
.reg-page {
  width: 100%;
  padding: 8% 0 0;
  margin: auto;
}
.reg-form {
  position: relative;
  z-index: 1;
  background: #E6FFE9;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.reg-comment {
    color: red;
}

.container {
    font-family: "Roboto", sans-serif;
}
.reg-btn {
    margin-left: 50px;
}

/* マイページ */
.post-body {
    margin-left: 5px;
}

.user_image {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    border: 1px solid #C0C0C0;
    width: 50px;       /* ※縦横を同値に */
    height: 50px;       /* ※縦横を同値に */
}

.user_image_small {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    border: 1px solid #C0C0C0;
    width: 25px;       /* ※縦横を同値に */
    height: 25px;       /* ※縦横を同値に */
}

/* 退会画面*/

.unsubcribe-container{
    margin: 150px;
}
.unsubcribe-message {
    font-size: 18px;
}

/** 管理者会員情報編集画面 **/
.user-edit-page {
    width: 50%;
    padding: 8% 0 0;
    margin: auto;
}

.user-edit-form {
    width: 100%;
    position: relative;
    z-index: 1;
    background: #E6FFE9;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
}

/** 管理者会員一覧画面 **/
.validity{
     color: #32CD32;
     font-weight: bolder;
}

.withdraw {
    color: #C0C0C0;
    font-weight: bolder;
}


/* 投稿一覧共通レイアウト */
.card_style {
     border-radius: 30px;   
}

.card {
    width: 100%;
}

.card-body {
    width: 100%;
}