@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    background-color: #FFCC99;
}

header {
    background-color: #FFFFFF;
    color: #FF9900;
}

footer {
    background-color: #DDDDDD;
}

.top-text {
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: "メイリオ";
    line-height: 70px;
}


/* ログインページ　*/
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.email, .passward {
    background: #f2f2f2;
}

.login-btn {
    background: #28a745;
    color: white;
}

/* 新規登録画面*/
.reg-page {
  width: 1000px;
  padding: 8% 0 0;
  margin: auto;
}
.reg-form {
  position: relative;
  z-index: 1;
  background: #E6FFE9;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.reg-comment {
    color: red;
}

.container {
    font-family: "Roboto", sans-serif;
}
.reg-btn {
    margin-left: 50px;
}

/* マイページ */
.post-body {
    margin-left: 5px;
}

.user_image {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    border: 1px solid #C0C0C0;
    width: 50px;       /* ※縦横を同値に */
    height: 50px;       /* ※縦横を同値に */
}

.user_image_small {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    border: 1px solid #C0C0C0;
    width: 25px;       /* ※縦横を同値に */
    height: 25px;       /* ※縦横を同値に */
}

/* 投稿一覧共通レイアウト */
.card_style {
     border-radius: 30px;   
}

.card {
    width: 100%;
}

.card-body {
    width: 100%;
}